<!DOCTYPE html>

<html>

<head>
  <title>Inventory viewer</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div id="inventory">
    <span v-if="Object.keys(inventory).length === 0">No items</span>
    <ol>
      <li v-for="item in inventory">
        {{ item.displayName }} - {{ item.count }}
      </li>
    </ol>
    {{ JSON.stringify(inventory, null,  2) }}
  </div>

  <script>
    var socket = io();

    socket.on('inventory', function(inv) {
      inventoryComponent.inventory = inv
    });

    var inventoryComponent = new Vue({
      el: '#inventory',
      data: {
        inventory: {}
      }
    })
  </script>
</body>

</html>
