* {
  font-family: monospace;
}

ul {
  list-style-type: square;
}

/* For later optimization
#canvas {
  width: 352px;
  height: 331px;
}
#canvas * {
  position: absolute;
}

#inventoryImage { z-index: 1; }
#inventoryCanvas { z-index: 2; }
*/