# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        mc-version: ['1.8.8', '1.9.4', '1.10.2', '1.11.2', '1.12.2', '1.13.2', '1.14.4', '1.15.2', '1.16.5']
        node-version: [14]
        java-version: [8]
        include:
        - mc-version: '1.17.1'
          node-version: 14
          java-version: 16
          
        - mc-version: '1.18.2'
          node-version: 14
          java-version: 17

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Use Java ${{ matrix.java-version }}
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java-version }}
    
    - name: Install dependencies
      run: npm install
    
    - name: Build
      run: npm run build

    - name: Start tests
      run: npm test
      env:
        TEST_MC_VERSION: ${{ matrix.mc-version }}
